body{
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
}
.p{
    text-align: justify;
    font-style: normal;
}
.B{
    margin-left: 150px;
}
.C{
    margin-left:150px;
}
.D{
    margin-left: 100px;
}